<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
  </ion-buttons>
    <ion-title>paneladmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card href="/usersver" color="danger">
      <h5>Ver información de usuarios</h5>
    </ion-card>
    <ion-card href="/creditosver" color="danger">
      <h5>Ver información de créditos</h5>
    </ion-card>
    <ion-card href="/paneladmin" color="danger">
      <h5>Gestiones de créditos</h5>
    </ion-card>
</ion-content>
